<h2>商品新規登録</h2>

<%= form_with model: @item,url:admin_items_path do |f| %>
  
  <label for="inputImage">商品画像</label>
  <%= f.file_field :image, accept: "image/*" %><br>

  <label for="inputName">商品名</label>
  <%= f.text_field :name %><br>

  <label for="inputIntroduction">商品説明</label>
  <%= f.text_area :introduction %><br>
  
  <label for="inputPrice">税抜価格</label>
  <%= f.text_field :price %>円<br>

  <%= f.submit '新規登録' %>
  
<% end %>